@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
body {
  padding: 2rem 5rem;
}

.modal-dialog{
  max-width: 800px !important;
}